<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body>
    <h1 class="text-succses"> <%= isim %> </h1>
    <p>Fiyat : <%= fiyat %> </p>
    <p>Yorum : <%= yorumsayisi %> </p>


  </body>
</html>
