<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yazı : </title>
  </head>
  <body>
    <h1> <%= baslik %> </h1>
    <p>Burası da yazının içeriği..</p>
    <p>Yorum : <%= yorumsayisi %> </p>
  </body>
</html>
